{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/style.css" %}">
</head>
<body>
    <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
                <li><u><a href="/">DL</a></u></li>
                {% if username %}
                    <li><u style="text-decoration-color: #258faf;"><a href="/user/">Subjects</a></u></li>
                    <li><u style="text-decoration-color: #258faf"><a href="/mail/">Mail</a></u></li>
                {% endif %}
            </ul>
        </div>
        <div class="top-bar">
            <ul class="menu">
                <form action="{%url 'search' %}" method="post">
                          {% csrf_token %}
                    <li><input type="text" name="search_field" value="" method='POST' placeholder="Search" ></li>
                    <li><input class="button" type="submit" name="Search" value="Search"></li>
                </form>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                {% if username %}
                    <a class="button" href="/auth/logout/">Log Out ({{ username }})</a>
                {% else %}
                    <a class="button" href="/auth/login/">Log In</a>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="callout large primary">
      <div class="row column text-center">
        <h1><a href="/">IITU NEWS</a></h1>
      </div>
    </div>

    <div class="grid-container">
        <div class="grid-x">
        <div class="small-1 columns"></div> <!— Для отступа слева —>
            <div class="small-8 columns">{% block article %}{% endblock %}</div></div>
    </div>
<div class="grid-container">
{% block login %}{% endblock %}

</div>
</body>
</html>