
{% extends 'user_page.html' %}

{% block student %}
<h4>Date of mark: {{ teacher.mark_date }}</h4>
<h2>{{ teacher.subject_name }}</h2>
    <p>Today your mark is {{ student.teacher_mark }}</p>
<p>{{ teacher.teacher_name }} {{ teacher.teacher_surname }} </p>

<hr>
    <div class="large-offset-1 large-8 columns">
<p>Feedbacks:</p>
{% for feedback in feedbacks %}
    <p>{{ feedback.feedback_text }}</p>
{% endfor %}
        {% if username %}

{% endfor %}
        {% if username %}
        <form action="/students/addmark/{{ student.id }}/" method="post">
            {%  csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Add mark">
        </form>
    {% endif %}
        <form action="/students/addfeedback/{{ page_number }}/" method="post">
            {%  csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Add Feedback about teacher">
        </form>
    {% endif %}
    </div>
{% endblock %}